<div class = "container ml-5">
<div class = 'row header'>
    <div class = "col-sm-2">
        <img  src = "assets/blackjack.jpg" width="100%"  height="100%"/>
    </div>
    
    <div class = "col-sm-8 mt-4 headTagLine">
        <h3>BLACKJACK</h3>
    </div>
</div>
 <div class = "row dashboard">
    <div class = "row ">
        <p class = "total_bet">$234</p>
    </div>
    <div class = "row mt-4 ">
        <div class = "col-sm-4 ">
            <app-coin color= "red" [num]="10"></app-coin>
           
        </div>
        <div class = "col-sm-8">
            <h3 style = "color: white;">Place Your Bet</h3>
        </div>
</div>
    
    <div class = "row">
        <div class = "col-sm-5">
            <div class = "row ml-2">
                <app-coin color= "red" [num]="10"></app-coin>
                <app-coin color= "pink" [num]="20"></app-coin>
                <app-coin color= "blue" [num]="100"></app-coin>
                <app-coin color= "green" [num]="500"></app-coin>
                
             </div>
        </div>
        <div class = "col-sm-7">
ascmnq;kwnka sck knas cwlef bnuowefjwec  ufejfnauosncj wefbuicnwjke fbjlw duiwej wjdbwj fjnwbvibwjwdc wbcwiebn
        </div>
    </div>

</div>
</div>
  
